<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.tianqi.plankton.system.mapper.LoginLogMapper">
    <select id="findLastSevenDaysVisitCount" resultType="java.util.Map">
        select
        date_format(l.login_time, '%m-%d') days,
        count(1) count
        from
        (
        select
        *
        from
        login_log
        where
        date_sub(curdate(), interval 7 day) &lt;= date(login_time)
        ) as l where 1 = 1
        <if test="code != null and code != ''">
            and l.code = #{code}
        </if>
        group by
        days
    </select>

    <select id="findTodayIp" resultType="java.lang.Integer">
        select count(distinct(ip)) from login_log where datediff(login_time,now())=0
    </select>
</mapper>