<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.tianqi.plankton.system.mapper.VersionMapper">
    <resultMap id="BaseResultMap" type="top.tianqi.plankton.system.entity.VersionInfo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="version_code" jdbcType="VARCHAR" property="versionCode" />
        <result column="download_url" jdbcType="VARCHAR" property="model" />
        <result column="version_desc" jdbcType="VARCHAR" property="versionDesc" />
        <result column="model" jdbcType="INTEGER" property="model" />
        <result column="type" jdbcType="VARCHAR" property="type" />
    </resultMap>

    <select id="findList" resultMap="BaseResultMap">
        select vu.* from version_upgrade vu where 1=1
        <if test="name != null and name != ''">
            and vu.version_code like '%${name}%'
        </if>
        <if test="dictId != null and dictId != ''">
            and vu.model in (select name from dictionaries d where d.id = #{dictId} or d.parent_id = #{dictId})
        </if>
        order by vu.create_time desc
    </select>
    <select id="checkVersion" resultMap="BaseResultMap">
         select vu.* from version_upgrade vu where 1=1
         <if test="checkCode != null and checkCode !=''">
             and vu.version_code = #{checkCode}
         </if>
        <if test="model != null and model !=''">
            and vu.model = #{model}
        </if>
    </select>
    <select id="checkIsExist" resultType="java.lang.Integer">
        select count(1) from version_upgrade vu where 1=1
        <if test="versionCode != null and versionCode !=''">
            and vu.version_code = #{versionCode}
        </if>
        <if test="model != null and model !=''">
            and vu.model = #{model}
        </if>
    </select>
</mapper>
